<h1>Dorothy's Cocktails</h1>

<%= link_to 'Create New Cocktail', new_cocktail_path %>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<% cocktail.photo_url %>)">
    <%=link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
  <% end %>
</div>
